/* Main Page Stylesheet */
body{
    max-width: 400px;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid #040404;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    
}
/* Styling  instructions for the header starts here */
#header {
    height: 64px;
    width: 100%;

    box-sizing: border-box;

    border: 2px solid darkgreen;
    border-radius: 5px;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}
#profile_button {
    position: relative;
    top: 0;
    right: -80px;
    height: 35px;
    width: 35px;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Styling  instructions for the navigation window and its components starts here */
#navigation_window {
    box-sizing: border-box;

    border: 2px solid darkgoldenrod;
    border-radius: 5px;
    background-color: yellow;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 75px;
    gap: 20px;
    padding: 20px;
}
#navigation_window > button {
    border: 2px solid green;
    border-radius: 5px;
    background-color: lightgreen;
    padding: 1em;

    font-size: 16px;
    color: black;
}
#navigation_window > button:hover {
    background-color: green;
    color: white; 
}

#Logout_button {
    margin-top: 20px;
    padding: 10px;
    
    color: black;
    border: none;
    border-radius: 5px;
    
    font-size: 16px;
    cursor: pointer;
}
#Logout_button:hover {
    background-color: red;
    color: white;
}
