/* Main Page Stylesheet */
/* Styling  instructions for the header starts here */
#header {
    height: 60px;
    width: 100%;

    box-sizing: border-box;

    border: 2px solid darkgreen;
    border-radius: 5px;
    background-color: #4CAF50;

    display: flex;
    align-items: center;
    justify-content: center;
}
#profile_button {
    position: absolute;
    top: 10px;
    right: 10px;

    height: 55px;
    width: 55px;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Styling  instructions for the navigation window and its components starts here */
#navigation_window {
    box-sizing: border-box;

    border: 2px solid darkgoldenrod;
    border-radius: 5px;
    background-color: yellow;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 100px;
    gap: 20px;
    padding: 20px;
}
#navigation_window > button {
    border: 2px solid green;
    border-radius: 5px;
    background-color: lightgreen;
    padding: 1em;

    font-size: 20px;
    color: black;
}
#navigation_window > button:hover {
    background-color: green;
    color: white; 
}
