/* Main Page Stylesheet */
/* Lines 3-24 contain styling of the header */
/* Lines 27-56 contain styling of the navigation window and its components */
#header {
    height: 60px;
    width: 100%;

    box-sizing: border-box;

    border: 2px solid darkgreen;
    border-radius: 5px;
    background-color: #4CAF50;

    display: flex;
    align-items: center;
    justify-content: center;
}
#profile_button {
    position: absolute;
    top: 10px;
    right: 10px;

    height: 55px;
    width: 55px;

    display: flex;
    align-items: center;
    justify-content: center;
}

#navigation_window {
    position: relative;
    
    height: calc(100% - 60px);
    width: 100%;
    
    background-color: green;

    display: flex;
    align-items: center;
    justify-content: center;
}
#navigation_window {
    box-sizing: border-box;

    border: 2px solid darkgoldenrod;
    border-radius: 5px;
    background-color: yellow;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 100px;
    gap: 20px;
    padding: 20px;
}
#navigation_window > button {
    border: 2px solid green;
    border-radius: 5px;
    background-color: lightgreen;
    padding: 1em;

    font-size: 20px;
    color: black;
}
