
.title {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #04b949;
}
h2{
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
input{
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;

}
button{
    padding: 0.74rem;
    background-color: #007BFF;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    width: 20%;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    border: none;
}
button:hover{
    background-color: #0f4d8f;
}
.container{
    max-width: 400px;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid #040404;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);   
}

.error{
    color: red;
    font-size:0.5rem;

}

#strengthText{
    display: block;
    margin-top: 0.5rem;
    font-size: 0.9rem;
}
.weak{
    color:red;
}
.medium{
    color:yellow;
}
.strong{
    color:green;
}

