body{
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    display :flex;
    justify-content : center; 
    font-style: italic;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 8px;
    border-color: black;

    
    
}

.input{
    width: 75%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    align-items:center;
    border-color: black;
}
.btn{
    background-color: green;
    cursor:pointer;
    color:white;
    border-radius: 6px;
    width: 300px;
    height: 50px;
    font-size: 1rem;
    align-items: center;
    margin-left:10px;
}

.btn:hover{
    background:#1b5e20;
}

.btn2{
    background-color:#f0f8ff;
    cursor:pointer;
    color:black;
    border-radius: 4px;
    width:200px;
    height:25px;
    font-size:1rem;
    align-items: center;
    -ms-flex-item-align: center;
    align-self: center;
    margin-top: 8px;
    margin-left:40px;
}






