h1 {
    text-align: center;
    color: #2E8B57;
}
.seed-cost-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 8px;
    border-color: black;

    
}
.input{
   width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    align-items:center;
    border-color: black;
    justify-content: center;

}
.btn{
    background-color: green;
    cursor: pointer;
    border-radius: 6px;
    color:#ffffff;
    width:300px;
    height:50px;
    font-size: 1rem;
    align-items: center;
    margin-left: 10px;
    border-color: black;

    
}

/* .seed-cost-form {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    width:50px;
    font-size: 18px;
} */